# Macの隠しファイル
.DS_Store

# Pythonのキャッシュや設定ファイル
__pycache__/
*.pyc
.venv/
venv/

# AIの重いモデルデータやデータセット
*.pt
*.pth
*.onnx
*.weights
/saved_images/
/models/
/humanA/
/debug_out/

# 動画ファイル
*.mp4
*.avi

# 環境変数やパスワード
.env