# Macの隠しファイル
.DS_Store

# Pythonのキャッシュや設定ファイル
__pycache__/
*.pyc
.venv/
venv/
env/
.venv2/

# AIの重いモデルデータやデータセット
*.pt
*.pth
*.onnx
*.weights
/saved_images/
/models/
/humanA/
/debug_out/

# ファイル
# bin_to_BGRmp4.py

# 動画ファイル
*.mp4
*.avi
/bin/
/output/

# 環境変数やパスワード
.env